extends: default
ignore: |
  .travis/
  .travis.yml
  .github/
  meta/

rules:

  # Disable line-length
  line-length: disable

  # Max 1 space to separate the elements in brakets
  braces:
    max-spaces-inside: 1

  # Max 1 space in empty brackets
  brackets:
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 1
