extends: default
ignore: |
  .travis/
  .travis.yml
  .github/
  .tox
  meta/

rules:
  # based on ansible-galaxy rules
  braces: {max-spaces-inside: 1, level: error}
  colons: {max-spaces-after: -1, level: error}
  commas: {max-spaces-after: -1, level: error}
  comments: disable
  comments-indentation: disable
  document-start: disable
  empty-lines: {max: 3, level: error}
  hyphens: {level: error}
  indentation: disable
  key-duplicates: enable
  line-length: disable
  new-line-at-end-of-file: disable
  new-lines: {type: unix}
  trailing-spaces: disable
  truthy: disable


  # Max 1 space in empty brackets
  brackets:
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 1
